body {
    background:#E6EEF6;
}
.wrap {
    margin-left:20px;
}
.aire_date {
    font-size: 80%;
}

.box {
    transition: all .2s ease-in-out;
    /* display:inline-block; */
    /* position:relative; */
    margin:10px;
    margin: auto;
    padding:10px;
    border-radius:5px;
    /* font */
    font-family: 'Didact Gothic', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight:normal;
    text-align:center;
}

/* Get bigger on hover */
.box:hover { transform: scale(1.1); }

.hidden-box {
    /* display:inline-block; */
    border-radius:5px;
    /* font */
    font-family: 'Didact Gothic', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight:normal;
    text-align:center;
    transition: all .1s ease-in-out;
}

.hidden-box:hover { transform: scale(1.02); }

.new {
    /* background-color : LightGreen; */
    background-color: #9EEBA1;
    /* shadow */
    -webkit-box-shadow:0 0 30px 2px #479F41;
    -moz-box-shadow:0 0 30px 2px #479F41;
    box-shadow: 0 0 30px 2px #479F41;
}
.future {
    background-color : Khaki;
    /* shadow */
    -webkit-box-shadow:0 0 30px 2px #d2c342;
    -moz-box-shadow:0 0 30px 2px #d2c342;
    box-shadow: 0 0 30px 2px #d2c342;
}
.seen {
    opacity : 0.5;
    background-color : LightCoral;
    /* shadow */
    -webkit-box-shadow:0 0 30px 2px LightCoral;
    -moz-box-shadow:0 0 30px 2px LightCoral;
    box-shadow: 0 0 30px 2px LightCoral;
}
